.section {
    margin-top: 128px;
    text-align: center;
    margin-bottom: 57px;
}
.section p {
    color: var(--text-grey);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-top: 18px;
}
.section h2 {
    padding-bottom: 5px;
    margin-bottom: 105px;
}
