.footer {
    height: 230px;
    padding: 12px 0 12px 0;
    height: 102px;
    border-top: 3px solid rgba(0, 0, 0, 0.05);
    margin-top: 20px;
}
.line {
    height: 206px;
    border-bottom: 1px #E2EDF3 dashed;
    border-top: 1px #E2EDF3 dashed;
}
.parent {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 206px;
}
.topFooter {
    border-bottom: 1px solid rgba(226, 237, 243, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoTop {
    display: flex;
    height: 55px;
}
.logoTop img {
    display: block;
    height: inherit;
}
.lineLogo {
    margin: 0 7px 0 7px;
}
.btnFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoBtm {
    height: 45px;
    width: 126px;
    display: flex;
}
.address {
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    font-family: 'Gotham Pro';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address p {
    margin-right: 58px;
    display: flex;
}
.address p img {
    margin-right: 15px;
}
.phoneMargin {
    margin-left: 10px;
}