.signUpField {
    position: relative;
    width: max-content;
}
.error {
    position: absolute;
    color: red;
    font-size: 14px;
    top: -8px;
    left: 30%;
    padding: 0 5px;
    background: white;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
.borderRed {
    border: 1px solid red;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}