.btnBack {
    position: absolute;
    top: 0px;
    left: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
.backSymbol {
    background-image: url('../../images/arrowBack.svg');
    height: 15px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 29px;
}
.btnBack:hover .backSymbol {
    background-image: url('../../images/arrowBackHover.svg');
}
.btnBack:hover {
    color: black;
    color: #D9D9D9;
}